#loader{
    position:fixed;
    inset:0;
    background:#050505;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    overflow:hidden;
}

.loader-overlay{
    position:absolute;
    inset:0;
    background:
        radial-gradient(
            circle at center,
            rgba(180,138,60,0.12),
            transparent 70%
        );
}

.loader-content{
    position:relative;
    text-align:center;
    max-width:850px;
    padding:20px;
    z-index:2;
}

.loader-top-text{
    color:#b48a3c;
    letter-spacing:6px;
    text-transform:uppercase;
    margin-bottom:25px;
    font-size:0.9rem;
    opacity:0;
}

.loader-title{
    font-size:4rem;
    line-height:1.3;
    color:#f5f1e8;
    opacity:0;
    transform:translateY(40px);
    text-shadow:
        0 0 15px rgba(255,215,140,0.12);
}

.loader-line{
    width:0;
    height:1px;
    background:#b48a3c;
    margin:40px auto 0;
    box-shadow:
        0 0 15px rgba(180,138,60,0.4);
}

.loader-hide{
    opacity:0;
    visibility:hidden;
    transition:1.2s ease;
}